*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.barra__nav{
  background-color: grey;
  display: flex;
  align-items: center;
  gap: 300px;

}

a{
  list-style-type: none;
  text-decoration: none;
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}

.lista{
   
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;

}
ul li{
  margin: 20px;
  
}
ul li :hover{
  color: rgb(41, 177, 177);
  
  
}
.carrito{
  position: relative;
  top: 0px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.cantidad__carrito{
  background-color: rgb(41, 177, 177);
  border-radius: 30px;
  position: absolute;
  top: 10px;
  left: 1250px;
  font-size: 30px;
  color: black;
  padding: 4px;
  
}

.beta{
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 15px;
}

.item__list{
  padding-top: 50px;
  background-color: grey;
  text-align: center;
  padding-bottom: 1000px;
}
.productos__titulo{
  color:rgb(41, 177, 177); 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}